# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/

# Restrict `.idea/` folder at all:
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/


# Configuration file with private data:
*.env
.env

gdf/models/